._39jb6G6K5k6YccoIFMArZ {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.FclJPbT9n7aW6IWputEAd {
    margin: 0.2em;
    padding: 0.3em;
    background-color: #efefef;
    border: 1px solid #dedede;
}